---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';


const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es" class="dark bg-gray-900 text-gray-100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{title} | Wiki EcoPets</title>
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="icon" href="/favicon.png" type="image/x-icon">
</head>
<body class="min-h-screen flex flex-col bg-gradient-to-b from-gray-900 to-gray-950 opacity-95">
  <Header />
  
  <main class="flex-grow container mx-auto px-4 py-8">
    <slot />
  </main>
  
  <Footer />
  
  <script>
    document.documentElement.classList.add('dark');
    localStorage.theme = 'dark';
  </script>
  
</body>
</html>